<%- include('partials/header'); -%>

<div class="page-container container">
    <h1 class="title">About</h1>
    <p class="page-content"><%= about %></p>
</div>




<%- include('partials/footer') -%>
