<%- include('partials/header'); -%>

<div class="page-container container">
    <h1 class="title">Contact</h1>
    <p class="page-content"><%= contact %></p>
</div>



<%- include('partials/footer') -%>
